{{define "dashboard"}}
<html lang="en">
{{ template "header" .}}
<body>
{{ template "nav" .}}
<main class="container">
    <script defer src="/static/js/main.js"></script>
    <script defer src="/static/js/dashboard.js"></script>
    <div class="p-4 p-md-5 mb-4 text-dark rounded bg-light">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <p>
                Add new link:
            </p>
        </div>
        <div class="shortener">
            <div class="row flex-nowrap justify-content-between align-items-center ">
              <form class="col-md-12 px-0 shortlinkform form-floating">
                  <div class="input-group input-group-lg">
                      <input type="text" class="form-control" placeholder="Shorten your link"
                             v-model="shortlink.longLink" @input="change($event)" @change="change($event)">
                      <button type="button" class="btn btn-secondary"
                                  :disabled="!isURLValid" @click="shortenLink">Shorten</button>
                  </div>
              </form>
            </div>
            <div v-show="showResult" class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-md-12 px-0 text-center">
                    <p class="lead mb-0">New link for {% shortlink.longLink %}</p>
                    <p class="lead mb-0"><a :href="shortlink.shortURL" class="text-dark fw-bold">{% shortlink.shortURL %}</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-5 linklist">
        <button type="button" class="btn btn-secondary" @click="getLinks">GetLinks</button>
        <template v-for="link in links">
            <div>
                <p>{% link %}</p>
            </div>
        </template>
    </div>
</main>
{{ template "footer" .}}
</body>
</html>
{{end}}